#home-image
{
    background: url('https://cdn.prod.website-files.com/604a97c70aee09eed25ce991/61897a35583a9b51db018d3e_MartinPublicSeating-97560-Importance-School-Library-blogbanner1.jpg');
    opacity: 75%;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 0;
    margin: 0;
    z-index: -1;
    box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
}

.navbar-custom {
    background-color: rgb(201, 192, 74);
    border-color: rgb(201, 192, 74);
    padding-top: 20px;  
    padding-bottom: 20px; 
}

.navbar-custom .navbar-nav>li>a {
    color: black; 
}

.navbar-custom .navbar-nav>li>a:hover {
    background-color: white; 
}
.navbar-custom .navbar-brand {
    font-size: 36px;
    font-weight: bold;
    color: #777777;
}
body{
    background-color: #575353;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 5px; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    opacity: 70%;
}

.double-container {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    flex: 1;
    padding: 10px;
}