#home-image
{
    background: url('https://cdn.prod.website-files.com/604a97c70aee09eed25ce991/61897a35583a9b51db018d3e_MartinPublicSeating-97560-Importance-School-Library-blogbanner1.jpg');
    opacity: 75%;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 0;
    margin: 0;
    z-index: -1;
    box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
}
main{
    display: block;
    height: auto;
}
.main-content{
    width: 50%;
    height: 100%;
    background-color: red;
}
.navbar-custom {
    background-color: rgb(223, 185, 103);
    border-color: rgb(205, 157, 54);
    padding-top: 20px;  
    padding-bottom: 20px;
    display: block;
}

.navbar-custom .navbar-nav>li>a {
    color: black; 
}

.navbar-custom .navbar-nav>li>a:hover {
    background-color: white; 
}
.navbar-custom .navbar-brand {
    font-size: 36px;
    font-weight: bold;
    color: #777777;
}
body{
    background-color: #5c5c5c;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 5px; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    opacity: 70%;
}

.double-container {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    flex: 1;
    padding: 10px;
}

hr.solid {
    border-top: 3px solid #FFFFFF;
    margin-bottom: 0;
}

  .vl {
    border-left: 3px solid #FFFFFF;
    height: auto;
}

.footer{
    padding: 15px;
    position:fixed;
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 0px;
    font-weight: 500;
    opacity: 80%;
    color: whitesmoke;
    background-color: rgb(223, 185, 103);
    border-color: rgb(205, 157, 54);
    display: block;

}
.footer > p {
    margin: 0;
    color: whitesmoke;
    font-weight: bold;
}
.split-cols{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.split-container{
    background-color: rgb(223, 185, 103);
    width: 35%;
    border-radius: 5px;
    padding-bottom: 25%;


}